body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
  border: 8px solid red;
  padding:20px;
}

header {
  text-align: center;
  color:white;
  background-color:#424949 ;
}

footer {
  background-color: #343330;
  text-align: center;
}

aside {
  width:200px;
  background-color: #7F8C8D;
}
